@model string
@{
    ViewBag.Title = "Error";
}

<h2>@Model</h2>

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>
<hr />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
